@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"); */
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
body {
  /* font-family: "Source Sans 3", sans-serif; */
  font-family: "Helvetica Neue", sans-serif;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}
a {
  outline: none;
}

a:not(.btn):focus-visible {
  outline: 2px solid #fe9548;
  -moz-outline-radius: 8px;
  outline-style: ridge;
}

.glass-bg {
  @apply bg-opacity-30 bg-gradient-to-bl from-gray-100 to-[#f6f6f6]/0 backdrop-blur-lg;
}

.btn {
  @apply flex h-8 min-w-[8rem] cursor-pointer items-center justify-center rounded-lg px-2 text-center text-sm font-medium shadow transition-all duration-300 ease-in-out hover:shadow-md focus-visible:ring-2 ring-offset-0 ring-[#fe9548];
}
.bg-theme {
  @apply ring-[#000] dark:ring-[#fff] text-stone-700;
}
.btn-big {
  @apply h-10 min-w-[10rem];
}

.btn-small {
  @apply h-8 min-w-[5rem] text-xs;
}

.btn:hover {
  @apply shadow-lg;
}

.services-item {
  @apply rounded-xl p-3 shadow-md;
}

.services-item .head {
  @apply mb-2 flex items-center gap-x-2;
}

.services-item h3 {
  @apply text-left font-medium text-gray-700;
}

.services-item p {
  @apply text-left text-sm leading-[1.4] text-gray-400;
}

.services-item .icon {
  @apply flex h-7 w-7 items-center justify-center rounded-full;
}

.services-item:nth-child(1) .icon {
  background: linear-gradient(135deg, #d8ffa6 0%, #6cf08f 30%, #06d68f 100%);
}

.services-item:nth-child(2) .icon {
  background: linear-gradient(135deg, #fff388 0%, #febc58 30%, #ffa234 100%);
}

.services-item:nth-child(3) .icon {
  background: linear-gradient(135deg, #a3ebfa 0%, #6fa6fe 30%, #375aff 100%);
}

.services-item:nth-child(4) .icon {
  background: linear-gradient(135deg, #ffbbbb 0%, #fe6061 30%, #f53e6c 100%);
}

.mode {
  @apply flex cursor-pointer items-center gap-2 rounded-lg p-2 text-left text-sm font-medium;
}

.mode:hover,
.mode.active {
  background-image: linear-gradient(152deg, #00000036, transparent) !important;
}

.step {
  @apply gap-4 py-2;
}

.title {
  @apply text-2xl font-medium text-gray-600 dark:text-gray-200;
}

.goBack {
  @apply cursor-pointer text-sm text-gray-600 dark:text-gray-200;
}

.form {
  @apply flex flex-col justify-center rounded;
}

.input {
  @apply my-2 w-full rounded border border-gray-200 bg-white p-2 text-xs focus:ring-2 ring-offset-0 ring-[#fe9548];
}

.hint {
  @apply text-sm text-gray-400;
}

.project-item {
  @apply relative flex h-20 flex-col justify-between overflow-hidden rounded p-2 shadow;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-zinc-800;
  }

  .glass-bg {
    @apply bg-gradient-to-bl from-[#1a2a363d] to-[#3f545f66] backdrop-blur-lg;
  }

  .btn {
    color: #eee;
  }

  h1,
  h2,
  h3,
  h5 {
    color: #fff !important;
  }

  p:not(.text-red-400, .text-orange-300) {
    color: #ccc !important;
  }

  .options-select {
    @apply text-white;
  }

  .brands .filter {
    @apply grayscale-0;
  }

  .mode:hover,
  .mode.active {
    background-image: linear-gradient(
      152deg,
      #ffffff36,
      transparent
    ) !important;
  }

  .services-item .icon {
    box-shadow: 0 0 5px gray;
  }
}

.animate-gradient {
  background: linear-gradient(
    18deg,
    #fe9548,
    #ffb580,
    #ffcaa6,
    #fff,
    #ffcaa6,
    #ffb580,
    #fe9548
  );
  background-size: 190% 190% !important;
  animation: gradient-animation 8s ease-in-out infinite alternate both;
  font-weight: bold;
  color: #333;
}

@keyframes gradient-animation {
  0% {
    background-position: right top;
  }

  50% {
    background-position: left bottom;
  }

  100% {
    background-position: right top;
  }
}
